<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--引入公共页面，这里和jsp的引入稍有不同，引入的是某个具体的div-->


<!--    th:fragment 按名字在其他页面中引入div-->
    <div th:fragment="cssStyle">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/static/css/font-awesome.min.css}">
        <link rel="stylesheet" href="css/carousel.css" th:href="@{/static/css/carousel.css}">
    </div>
</head>
<body>
    <div class="container" id="footerBar">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div id="footer">
                    <div class="footerNav">
                        <a rel="nofollow" href="http://www.atguigu.com">关于我们</a> | <a
                            rel="nofollow" href="http://www.atguigu.com">服务条款</a> | <a
                            rel="nofollow" href="http://www.atguigu.com">免责声明</a> | <a
                            rel="nofollow" href="http://www.atguigu.com">网站地图</a> | <a
                            rel="nofollow" href="http://www.atguigu.com">联系我们</a>
                    </div>
                    <div class="copyRight">Copyright 20119-2010 scw.com 版权所有</div>
                </div>
            </div>
        </div>
    </div>

    <div id="jsStyle">
        <script src="jquery/jquery-2.1.1.min.js" th:src="@{/static/jquery/jquery-2.1.1.min.js}"></script>
        <script src="bootstrap/js/bootstrap.min.js" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
        <script src="script/docs.min.js" th:src="@{/static/script/docs.min.js}"></script>
        <script src="script/back-to-top.js" th:src="@{/static/script/back-to-top.js}"></script>
    </div>
</body>
</html>
